<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dispatcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DispatcherTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1123A33519F13F6700BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1123A34A19F13F6700BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1123A35F19F13FCA00BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1123A36919F13FCA00BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1123A38319F1402C00BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1123A38D19F1402C00BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1123A3A619F1404E00BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1123A3B019F1404F00BF890F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
